.formUpdate{
    margin:auto;
    position: absolute;
    left:45%;
    top:35%;
}
form > input {
    display:block;
    margin: 10px;
    padding: 10px;
}
form > input[type="submit"] {
    text-decoration: none;
    color:white;
    background-color: #ffccaa;
    position: relative;
    left: 50px;
    border: none;
    text-shadow: 1px 1px #ff0000;
    
}
form > input:hover {
    border:1px solid blue;
}